body{
    background-color: black;
    color: rgb(20, 191, 20);
}

.tittel_index{
    text-align: center;
       animation: blinkMe 2s linear infinite;
}

/* Define the animation sequence */
@keyframes blinkMe {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.tabell_index{
    padding-left: 10%;
    padding-top: 3%;   
}

.tabell_index table{
    flex: 0; /* gjør tabellen bredere */
}

.tekst_index{
    text-align: center;
    color: rgb(255, 0, 0);
}


.button{
    background-color: rgb(255, 0, 0);
}

.note_read{
    padding: 2%;
}

.note_read p{
    font-size: 2rem;
}

.note_read img{
    width: 30%;
    height: auto;
}