body{
    background-color: black;
    color: rgb(20, 191, 20);
}

.tittel_index{
    text-align: center;
       animation: blinkMe 2s linear infinite;
}

/* Define the animation sequence */
@keyframes blinkMe {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.tabell_index{
    padding-left: 10%;
    padding-top: 3%;
    display: flex;           /* legger elementene side ved side */
    align-items: stretch;    /* gjør dem like høye */
    gap: 20px;  
}

.tabell_index table{
    flex: 1; /* gjør tabellen bredere */
}

.tekst_index{
    text-align: center;
}

.binary {
    display: flex;
}

.binary img{
    height: auto;
    width: 30%;
    object-fit: cover; 
    justify-content: space-between;
}