{% extend "base.html" %}

{% block content %}
<h1>Hvordan løser man escape rommet?</h1>
<p>Du må prøve å lese for å skjønne hva gåten ber om og lese på de forskjellige sidene etter hint og svaralternativer.</p>
<h1>Hva gjør jeg hvis tiden har gått ut?</h1>
<p>Hvis tiden går ut har du tapt.</p>
<h1>Går det ann å vinne?</h1>
<p>Per nå er det ikke mulig å løse escapet rommet da det ikke er en fullstendig ending, men det blir sikkert utviklet snart.</p>
<h1>Hva gjør jeg hvis escape rommet er for vanskelig for meg?</h1>
<p>Blir det for vanskelog kan du spørre om hjelp/hint eller gi opp.</p>
{% endblock %}