{% extends "base.html" %}

{% block content %}
<div class="tittel_index">
    <h1>SYSTEM BREACH DETECTED</h1>
</div>
<div class="tabell_index">
    <table>
    <tr>
        <td>IP ADDRESS    </td>
        <td>STATUS  </td>
        <td>THREAT LEVEL</td>
    </tr>
    <tr>
        <td>192.168.0.1 </td>
        <td>COMPROMISED</td>
        <td>████████ HIGH</td>
    </tr>
    <tr>
        <td>10.0.0.44  </td>
        <td>INFECTED</td>
        <td>█████ MED  </td>
    </tr>
    <tr>
        <td>172.16.0.2 </td>
        <td>UNKNOWN  </td>
        <td>██ LOW</td>
    </tr>
    <tr>
        <td>[REDACTED]    </td>
        <td>ACTIVE </td>
        <td>??????????</td>
    </tr>
    </table>
    <div class="binary">
        <img src="/static/img/binary.png" alt="table converting binary numbers">
    </div>
</div>
<br>
<div class="tekst_index">
    <h2>ERR0R: syste% fai^ure in sec#tor 7...<br>
fragmentation of 01000111 01001111 01000100<br>
detected in node 4... rebo%ting...</h2>
</div>
{% endblock %}