{% extends "base.html" %}

{% block content %}
<div class="tittel_index">
    <h1>SYSTEM BREACH DETECTED</h1>
</div>
<div class="tabell_index">
    <table>
    <tr>
        <td>IP ADDRESS    </td>
        <td>STATUS  </td>
        <td>OWNER</td>
        <td>THREAT LEVEL</td>
    </tr>
    <tr>
        <td>192.168.0.1 </td>
        <td>COMPROMISED</td>
        <td>ROOT</td>
        <td>████████ HIGH</td>
    </tr>
    <tr>
        <td>10.0.0.44  </td>
        <td>INFECTED</td>
        <td>ADMIN</td>
        <td>█████ MED  </td>
    </tr>
    <tr>
        <td>172.16.0.2 </td>
        <td>UNKNOWN  </td>
                <td>█████</td>
        <td>██ LOW</td>
    </tr>
    <tr>
        <td>[REDACTED]    </td>
        <td>ACTIVE </td>
        <td>NO-OWNER</td>
        <td>??????????</td>
    </tr>
    </table>
</div>
<br>
<div class="tekst_index">
    <h2>ERR0R: syste% fai^ure in sec#tor 7...<br>
fragmentation of 01000111 01001111 01000100<br>
detected in node 4... rebo%ting...</h2>
<button class="button button1">LOCKED</button>
<button class="button button2" onclick="window.location.href='/read'">README.txt</button>

</div>
{% endblock %}