{% extends "base.html" %}

{% block content %}
<div class="note_read">
    <p>┌─────────────────────────────────────┐<br>
│ INTERNAL CHAT — SYSCORE IT DEPT       <br>
├─────────────────────────────────────┤<br>
│ thomas_k [08:32]: noen som vet hvor <br>
│ recovery-filen ligger?              <br>
│                                     <br>
│ m.karlsen [08:33]: sjekk /core/sys  <br>
│ men ikke si det til noen lol        <br>
│                                     <br>
│ thomas_k [08:34]: passord?          <br>
│                                     <br>
│ m.karlsen [08:35]: samme som alltid, bare følg tabellen: </p>
<img src="/static/img/binary.png" alt="konverteringstabell av binære tall til bokstaver">

<p>│                                     <br>
│ thomas_k [08:35]: …det er jo navnet   <br>
│ på hunden min                       <br>
│                                     <br>
│ [CONNECTION LOST]                   <br>
<form method="POST">
    {{ form.hidden_tag() }}
    {{ form.chat }}
    {{form.submit}}
</form>
└─────────────────────────────────────┘</p>
</div>

{% endblock %}